NEXT_PUBLIC_SUPABASE_URL=https://xslsrmfenungxklgxzcu.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhzbHNybWZlbnVuZ3hrbGd4emN1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzMxNTc4NzQsImV4cCI6MjA4ODczMzg3NH0.RH8VPjezHEkVGvmFwei8n1l3XkZLLijPq7fmSaW6VXc
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhzbHNybWZlbnVuZ3hrbGd4emN1Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MzE1Nzg3NCwiZXhwIjoyMDg4NzMzODc0fQ.1V6i9EOUkNBIkYN5dUyokYBddcleDdCEt7X9KlwWNXc
RESEND_API_KEY=re_QJH6xcBT_MEukxMZMMTTgDLndsd4CeeAE
NEXT_PUBLIC_SITE_URL=http://localhost:3000